<div style='
      background: rgba(255,255,255,0.92);
      border: 1px solid #4b7591ff;
      border-radius: 12px;
      padding: 10px 12px;
      font-family: Poppins, Arial, sans-serif;
      font-size: 14px;
      color: #0A2B43;
      min-width: 220px;
    '>
  <div style='
  margin-top:10px;
  margin-bottom:4px;
  font-size:13px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:0.04em;
  color:#345A88;
  '>Legend</div>

  <div style='display:flex;
    align-items:center;
    gap:10px;
    margin:4px 0;'>
    <span style='
    width:16px;
    height:16px;
    display:inline-block;
    flex-shrink:0;
        background:rgb(34, 3, 233);
        border-radius:50%;
      '></span>
    <span style='    font-weight:600;
    line-height:1.2;'>Survey Site</span>
  </div>
  <div style='display:flex;
    align-items:center;
    gap:10px;
    margin:4px 0;'>
    <span style='
    width:16px;
    height:16px;
    display:inline-block;
    flex-shrink:0;
        background:rgba(83, 83, 90, 1);
        border-radius:50%;
      '></span>
    <span style='    font-weight:600;
    line-height:1.2;'>Weather Station</span>
  </div>
</div>